<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Delicious Recipes</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <style>
            * {
                box-sizing: border-box;
            }

            body {
                font-family: "Roboto", sans-serif;
                background-color: #f8f4f0;
                color: #494949;
                margin: 20px;
            }

            h1 {
                font-family: "Kaushan Script", cursive;
                color: #e07a5f; /* Terracotta */
                margin: 0;
            }

            h2 {
                font-family: "Kaushan Script", cursive;
                color: #6d6875; /* Muted Purple */
                margin-bottom: 10px;
            }

            i {
                color: #888;
               display: block;
                margin-top: 0;
            }

            p {
                color: #555;
                margin-top: 0;
            }

            ul {
                list-style-type: none;
                padding: 0;
            }

            li {
                color: #666;
                margin-bottom: 5px;
            }

            .card {
                background-color: #fbe2d4;
                border-radius: 20px;
                padding: 20px;
                margin-bottom: 30px;
            }

            .polaroid {
                margin: 10px;
                position: relative;
                width: 220px;
            }

            .polaroid img {
                max-width: 250px;
                max-height: 250px;
                border-radius: 2px;
                border: 10px solid #fff;
                border-bottom: 35px solid #fff;
            }
        </style>
    </head>
